<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shepherdjerred.civilopedia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.building.BuildingListActivity"
            android:label="@string/title_building_list"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.building.BuildingDetailActivity"
            android:label="@string/title_building_detail"
            android:parentActivityName=".activities.building.BuildingListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.building.BuildingListActivity" />
        </activity>
        <activity
            android:name=".activities.unit.UnitListActivity"
            android:label="@string/title_unit_list"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.unit.UnitDetailActivity"
            android:label="@string/title_unit_detail"
            android:parentActivityName=".activities.unit.UnitListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.unit.UnitListActivity" />
        </activity>
        <activity
            android:name=".activities.civilization.CivilizationListActivity"
            android:label="@string/title_civilization_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.civilization.CivilizationDetailActivity"
            android:label="@string/title_civilization_detail"
            android:parentActivityName=".activities.civilization.CivilizationListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.civilization.CivilizationListActivity" />
        </activity>
        <activity
            android:name=".activities.leader.LeaderListActivity"
            android:label="@string/title_leader_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.leader.LeaderDetailActivity"
            android:label="@string/title_leader_detail"
            android:parentActivityName=".activities.leader.LeaderListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.leader.LeaderListActivity" />
        </activity>
        <activity
            android:name=".activities.citystate.CityStateListActivity"
            android:label="@string/title_citystate_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.citystate.CityStateDetailActivity"
            android:label="@string/title_citystate_detail"
            android:parentActivityName=".activities.citystate.CityStateListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.citystate.CityStateListActivity" />
        </activity>
        <activity
            android:name=".activities.district.DistrictListActivity"
            android:label="@string/title_district_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.district.DistrictDetailActivity"
            android:label="@string/title_district_detail"
            android:parentActivityName=".activities.district.DistrictListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.district.DistrictListActivity" />
        </activity>
        <activity
            android:name=".activities.wonder.WonderListActivity"
            android:label="@string/title_wonder_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.wonder.WonderDetailActivity"
            android:label="@string/title_wonder_detail"
            android:parentActivityName=".activities.wonder.WonderListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.wonder.WonderListActivity" />
        </activity>
        <activity
            android:name=".activities.civic.CivicListActivity"
            android:label="@string/title_civic_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.civic.CivicDetailActivity"
            android:label="@string/title_civic_detail"
            android:parentActivityName=".activities.civic.CivicListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.activities.civic.CivicListActivity" />
        </activity>
        <activity
            android:name=".activities.unitpromotion.UnitPromotionListActivity"
            android:label="@string/title_unitpromotion_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.unitpromotion.UnitPromotionDetailActivity"
            android:label="@string/title_unitpromotion_detail"
            android:parentActivityName=".activities.unitpromotion.UnitPromotionListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.activities.unitpromotion.UnitPromotionListActivity" />
        </activity>
        <activity
            android:name=".activities.feature.FeatureListActivity"
            android:label="@string/title_feature_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.feature.FeatureDetailActivity"
            android:label="@string/title_feature_detail"
            android:parentActivityName=".activities.feature.FeatureListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.activities.feature.FeatureListActivity" />
        </activity>
        <activity
            android:name=".activities.government.GovernmentListActivity"
            android:label="@string/title_government_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.government.GovernmentDetailActivity"
            android:label="@string/title_government_detail"
            android:parentActivityName=".activities.government.GovernmentListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.activities.government.GovernmentListActivity" />
        </activity>
        <activity
            android:name=".activities.greatperson.GreatPersonListActivity"
            android:label="@string/title_greatperson_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.greatperson.GreatPersonDetailActivity"
            android:label="@string/title_greatperson_detail"
            android:parentActivityName=".activities.greatperson.GreatPersonListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.activities.greatperson.GreatPersonListActivity" />
        </activity>
        <activity
            android:name=".activities.policy.PolicyListActivity"
            android:label="@string/title_policy_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.policy.PolicyDetailActivity"
            android:label="@string/title_policy_detail"
            android:parentActivityName=".activities.policy.PolicyListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.activities.policy.PolicyListActivity" />
        </activity>
        <activity
            android:name=".activities.project.ProjectListActivity"
            android:label="@string/title_project_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.project.ProjectDetailActivity"
            android:label="@string/title_project_detail"
            android:parentActivityName=".activities.project.ProjectListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.activities.project.ProjectListActivity" />
        </activity>
        <activity
            android:name=".activities.religion.ReligionListActivity"
            android:label="@string/title_religion_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.religion.ReligionDetailActivity"
            android:label="@string/title_religion_detail"
            android:parentActivityName=".activities.religion.ReligionListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.activities.religion.ReligionListActivity" />
        </activity>
        <activity
            android:name=".activities.technology.TechnologyListActivity"
            android:label="@string/title_technology_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.technology.TechnologyDetailActivity"
            android:label="@string/title_technology_detail"
            android:parentActivityName=".activities.technology.TechnologyListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.activities.technology.TechnologyListActivity" />
        </activity>
        <activity
            android:name=".activities.improvement.ImprovementListActivity"
            android:label="@string/title_improvement_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.improvement.ImprovementDetailActivity"
            android:label="@string/title_improvement_detail"
            android:parentActivityName=".activities.improvement.ImprovementListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.activities.improvement.ImprovementListActivity" />
        </activity>
        <activity
            android:name=".activities.resource.ResourceListActivity"
            android:label="@string/title_resource_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.resource.ResourceDetailActivity"
            android:label="@string/title_resource_detail"
            android:parentActivityName=".activities.resource.ResourceListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.activities.resource.ResourceListActivity" />
        </activity>
        <activity
            android:name=".activities.route.RouteListActivity"
            android:label="@string/title_route_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.route.RouteDetailActivity"
            android:label="@string/title_route_detail"
            android:parentActivityName=".activities.route.RouteListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.activities.route.RouteListActivity" />
        </activity>
        <activity
            android:name=".activities.terrain.TerrainListActivity"
            android:label="@string/title_terrain_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.MainActivity" />
        </activity>
        <activity
            android:name=".activities.terrain.TerrainDetailActivity"
            android:label="@string/title_terrain_detail"
            android:parentActivityName=".activities.terrain.TerrainListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shepherdjerred.civilopedia.activities.terrain.TerrainListActivity" />
        </activity>
    </application>

</manifest>